CORE_INTERNAL_URL=http://neuroloom-core:4000
INTERNAL_API_TOKEN=replace-me
EXECUTOR_HEALTH_PORT=7302
EXECUTOR_PLATFORM_INTERVAL_MS=5000
EXECUTOR_PLATFORM_LIMIT=3
EXECUTOR_RECOVERY_INTERVAL_MS=15000
EXECUTOR_RECOVERY_LIMIT=10
EXECUTOR_RECOVERY_STALE_SECONDS=900
EXECUTOR_RUNTIME_SWEEP_INTERVAL_MS=60000
EXECUTOR_RUNTIME_SWEEP_LIMIT=25
EXECUTOR_RUNTIME_SWEEP_STALE_SECONDS=1800
