node_modules
**/node_modules
.git
.next
**/.next
dist
**/dist
npm-debug.log
.npmrc
.envrc
*.pem
*.key
coverage
tmp
**/tmp
reports
**/reports
.runtime
**/.runtime
output
**/output
release
**/release
*.local
.env
.env.*
